*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --white: #fdfdff;
  --primary-color: #5390d9;
  --blue-color: 
}


body{
  display: flex;
  justify-content: center;   
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

li{
  list-style: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color)
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color)
}

::-webkit-scrollbar-track {
  background-color: white;
}

.app-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Libre Baskerville", serif;
  color: var(--white);
}

.app-title svg{
  width: 35px;
  height: 35px;
  color: var(--white);
  text-shadow:2px 2px 4px rgba(0,0,0,0.5);
}

.app-title h1{
  text-shadow:2px 2px 4px rgba(0,0,0,0.5);
}

.app-title span{ 
  color: var(--primary-color)
}

/* not found */
.not-found{
  color: var(--white);
  font-size: 3rem;
  text-shadow:2px 2px 4px rgba(0,0,0,0.5);
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: transparent;
  z-index: 1;
}

.footer p {
  margin-bottom: 0;
  color: var(--white);  
}

/* header */
.header-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid var(--background-color);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-container .nav-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.header-container .nav-container .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  color: var(--white);
  font-size: 1.8rem;
}

.header-container .nav-container .nav-list svg{
  width: 20px;
  height: 20px;
}

.header-container .nav-container .nav-list .nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

.header-container .nav-container .nav-list .nav-item:hover {
  background-color: var(--primary-color);
}

.header-container .nav-container .nav-list button {
  background-color: transparent;
  border: none;
  padding: 0 5px;
}

.header-container .nav-container .nav-list button:focus {
  outline: 0;
}

.header-container .logo-container .app-title h1{
  font-size: 20px;
}

.header-container .nav-container .nav-list .nav-item .nav-sublist{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-size: 15px;
}

.header-container .nav-container .nav-list .nav-item .nav-sublist li{
  list-style: none;
  padding: 5px 10px;
}

.header-container .nav-container .nav-list .nav-item .nav-sublist li:hover{
  background-color: var(--primary-color);
}

.header-container .nav-container .nav-list .nav-item .nav-sublist li:hover a{
  color: var(--white);
}

/* login styles */
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  max-width: 690px;
  height: 55%;
  margin-top: 40px;
  background-color: var(--white);
  border-radius: 32px;
  padding: 50px 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form.--register{
  height: 65%;
}

.form-title{
  text-align: center;
  font-size: 1.6rem;
}

.login-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0;
}

.login-form form div{
  width: 100%;
}

.login-form form input{
  width: 100%;
  height: 55px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  padding: 0 10px;
  border-radius: 5px;
}

.login-form form input:focus, .login-form form input:focus-visible{
  border: 2px solid var(--primary-color);
  outline: none;
}

.login-form form p{
  font-size: 1.5rem;
}

.btn-auth{
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn-auth:hover{
  width: 100%;
  height: 55px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.login-form .error-message{
  width: 100%;
  text-align: start;
  padding-left: 5px;
  padding-top: 5px;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
}

/* container */
.container{
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  padding-bottom:50px ;
}

.container .category-container{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 40px;
  overflow-y: scroll;
  color: var(--white);
}

.container .category-container h2{
  font-size: 2rem;
}

.container .category-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 40px;
  width: 100%;
  height: 100%;
}

.category-card{
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 26px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease;
}

.category-card.--movie{
  height: 350px;
  border-radius: 18px;
}

.category-card.--movie .category-card__image{
  border-radius: 18px;
}

.category-card__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  cursor: pointer;
  filter: brightness(50%);
}

.category-card:hover{
  transform: scale(1.1);
  z-index: 1;
}

.category-card:hover .category-card__title{
  color: var(--primary-color);
}

.category-card__title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  z-index: 1;
}

.movie-container{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: var(--white);
}

.movie-container .movie-image{
  position: relative;
  width: 100%;
  height: 400px;
}

.movie-container .movie-image::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent 0%, #3e4d76 100%);
  pointer-events: none;
}

.movie-image .movie-image__image{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(0.5);
}

.movie-trailer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top:0 ;
  object-fit: cover;
  cursor: pointer;
}

.movie-trailer .movie-trailer__video iframe{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  object-fit: cover;
}

.movie-details__item span{
  color: var(--primary-color);
  font-weight: 600;

}


/* media queries */
@media (min-width: 481px) and (max-width: 767px) {
   /* header */
   .header-container {
    height: 60px;
    padding: 0 40px;
  }

  .header-container .logo-container .logo {
    font-size: 24px;
  }

  .header-container .logo-container .app-title h1{
    font-size: 28px;
  }

  .header-container .nav-container .nav-list .nav-item {
    font-size: 18px;
    padding: 0 10px;
  }

  .header-container .nav-container .nav-list .nav-item .nav-sublist{
    top: 65px;
    font-size: 15px;
  }

  /* footer */
  .footer {
    height: 40px;
  }

  /* login styles */
  .login-form{
    width: 70%;
    padding: 50px;
  }

  .form-title{
    font-size: 1.8rem;
  }

  /* container */
  .container{
    padding-top: 60px;
    padding-bottom:50px ;
  }

  .container .category-grid{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .container .category-grid.--movie{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .movie-trailer .movie-trailer__video iframe{
    width: 400px;
  }
}

@media (min-width: 767px) {

  /* header */
  .header-container {
    height: 80px;
    padding: 0 40px;
  }

  .header-container .logo-container .logo {
    font-size: 28px;
  }

  .header-container .nav-container .nav-list .nav-item {
    padding: 0 20px;
    font-size: 20px;
  }

  .header-container .logo-container .app-title h1{
    font-size: 28px;
  }

  .header-container .nav-container .nav-list .nav-item .nav-sublist{
    top: 85px;
    font-size: 17px;
  }

  /* footer */
  .footer {
    height: 60px;
  }
 
  /* login styles */
  .form-title{
    font-size: 1.8rem;
  }

  .login-form{
    width: 70%;
    padding: 50px
  }

  .login-form form{
    padding: 20px 40px;;
  }

  /* container */
  .container{
    padding-top: 80px;
    padding-bottom:80px ;
  }

  .container .category-container h2{
    font-size: 2.5rem;
    color: var(--white);
  }

  .container .category-grid{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .container .category-grid.--movie{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .movie-trailer .movie-trailer__video iframe{
    width: 700px;
    height: 400px;
    object-fit: cover;
  }
}

@media (min-width: 1600px) {
  /* login styles */

}